USE master
GO

--drop database web_invitation_cards
go

USE web_invitation_cards
GO

insert into ChucVu(tenChucVu)
VALUES 
(N'Admin'),
(N'Khach hang')
GO

select * from [dbo].[ChucVu]
go


select * from NguoiDung
GO

select * from TaiKhoan
GO



select * from LoaiSanPham
GO


select * from ChiTietLoaiSP
GO

select * from NguoiDung
go 

select * from HoaDon
GO

insert ChiTietHoaDon(maHD, maSp, soLuong, giaBan)
values
(1,6,90,9000),
(2,82,10,10000),
(3,5,100,5000),
(4,8,20,12000),
(5,62,30,8000),
(6,35,70,12000),
(7,97,5,7000),
(8,11,200,15000),
(9,65,10,7000),
(10,24,80,12000)
GO

select * from ChiTietHoaDon
GO
-- xếp hạng là sao
GO

select * from DanhGia
GO
select * from NguoiDung
GO
select * from SanPham
GO

insert GioHang(maND, maSp, soLuong)
values
(2,6,90),
(3,82,100),
(4,5,100),
(5,8,20),
(6,62,30),
(7,35,70),
(8,97,5),
(9,11,200),
(10,65,10),
(11,24,80)
GO

select * from ChiTietHoaDon
GO
select * from GioHang
GO
select * from NguoiDung
GO
select * from SanPham
GO


USE master
GO
